/*.image-user {
  height: 100px;
  width: 100px;
  border: 5px solid gray;
  border-radius: 50%;
}*/

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* centra verticalmente se direction column altrimenti se direction row centra orizzontalmente */
  align-items: center; /* centra orizzontalmente se direction column altrimenti se direction row centra verticalmente */
  width: 100%;
  height: 120px;
  background-color: cornflowerblue;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-content: center;
  border: 5px solid gray;
  position: absolute;
  top: calc(50% - 180px);
  left: calc(50% - 80px);
}

/* .image-user {
  display: flex;
  position: absolute;
  justify-content: flex-end;
} */
