.panel-user {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/*.button-leave-grey {
  text-decoration: none;
  background-color: grey;
}

.button-hover-green {
  text-decoration: none;
  background-color: #7ed50e;
} */
